<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>武理树洞</title>
    <link rel="stylesheet" href="__STATIC__/css/index.css">
</head>
<style>
    body {
        background-color: #faf6ef;
    }
    .container {
        margin-top: 60px;
        background-color: #faf6ee;
    }
</style>
<body>
<div class="header">
    <p>武理树洞</p>
</div>
<div class="container">
    <div class="errorMessage">
        <p>
            {$errorMessage}
        </p>
    </div>
    <a href="/hole">
        <p id="back">回到主页</p>
    </a>
</div>
</body>
</html>