<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__STATIC__/css/index.css">
    <title>武理树洞</title>
</head>
<body>
<div class="header" id="page-1">
    <p>我的动态</p>
</div>
<div class="content-list">
    {volist name="contents" id="content"}
    <div class="section" >
        <div class="activity">
            {if $content['count(hole_content.id)']>1}
            我操作过：
            {else}
            {if $content.type == 1}
            我点赞过：
            {/if}
            {if $content.type == 2}
            我点踩过：
            {/if}
            {if $content.type == 3}
            我评论过：
            {/if}
            {if $content.type == 4}
            我举报过：
            {/if}
            {/if}
        </div>
        <div class="user-info">
            <img src="{if $content.avatar && $content.hide==0}{$content.avatar}{else}__STATIC__/images/default/avatar.jpg{/if}"/>
            <div class="middle">
                <div>
                    <p class="nickname">
                        {if $content.userV==0 || $content.hide==1 }匿名{else}{$content.nickname}{/if}
                    </p>
                </div>
                <p>{$content.create_time}</p>
            </div>
        </div>
        <p class="content" id="content" onclick="getDetail(this, {$content.id})">{$content.content}</p>
        <div class="control-block">
            <div class="button" id="like" onclick="doVote(this, {$content.id}, 1)">
                <img src="{$content.like_flag==0?'__STATIC__/images/icon-like.png':'__STATIC__/images/icon-like-selected.png'}"/>
                <p>{$content.like_num==0?'赞':$content.like_num}</p>
            </div>
            <div class="button" id="dislike" onclick="doVote(this, {$content.id}, 2)">
                <img src="{$content.dislike_flag==0?'__STATIC__/images/icon-dislike.png':'__STATIC__/images/icon-dislike-selected.png'}"/>
                <p>{$content.dislike_num==0?'踩':$content.dislike_num}</p>
            </div>
            <div class="button" id="comment" onclick="doComment({$content.id})">
                <img src="{$content.comment_flag==0?'__STATIC__/images/icon-comment.png':'__STATIC__/images/icon-comment-selected.png'}"/>
                <p>{$content.comment_num==0?'评论':$content.comment_num}</p>
            </div>
        </div>
    </div>
    {/volist}
</div>
<script src="__STATIC__/js/zepto.min.js"></script>
<script src="__STATIC__/js/index.js"></script>
<script>
    window.onscroll = function () {
        if(getScrollTop() + getClientHeight() === getScrollHeight()) {
            doLoadingActive();
        }
    }
</script>
</body>
</html>