<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__STATIC__/css/index.css">
    <title>武理树洞</title>
</head>
<style>
    body,
    .container {
        background-color: #faf6ed;
    }
</style>
<body>
<div class="header">
    <p>树洞登录</p>
</div>
<div class="container">
    <div class="logo">
        <img src="__STATIC__/images/logo.png"/>
        <p>武理树洞</p>
    </div>
    <div class="login">
        <form action="/doLogin" method="post" onsubmit="return doLogin()">
            <div class="username">
                <img src="__STATIC__/images/username.png"/>
                <input type="text" name="userMail" id="mail" placeholder="邮箱">
            </div>
            <div class="password">
                <img src="__STATIC__/images/password.png"/>
                <input type="password" name="userPassword" id="password" placeholder="密码">
            </div>
            <input type="submit" class="submitBtn" value="登录">
        </form>
        <p>OR</p>
        <a href="/register">
            <button class="submitBtn">注册</button>
        </a>
        <a href="/find">
            <p id="forget">忘记密码？</p>
        </a>
    </div>
</div>
<script src="__STATIC__/js/zepto.min.js"></script>
<script src="__STATIC__/js/index.js"></script>
</body>
</html>