<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__STATIC__/css/index.css">
    <title>武理树洞</title>
</head>
<body>
<div class="header">
    <p>信息修改</p>
</div>
<div class="wrapper">
    <canvas id="canvasImg" hidden></canvas>
    <img src="{$user.avatar?$user.avatar:'__STATIC__/images/default/avatar.jpg'}" alt="用户头像">
    <div class="inputImg">
        <p>头像：</p>
        <input type="file" id="inputImg" accept="image/*" placeholder="图片">
    </div>
    <form action="/doChange" method="POST" onsubmit="return doChange()">
        <div class="mail">
            <p>邮箱：</p>
            <p id="mail">{$user.mail}</p>
        </div>
        <div class="username">
            <p>用户名：</p>
            <input type="text" name="userName" id="name" placeholder="{$user.nickname}">
        </div>
        <input type="submit" class="submitBtn" value="确认修改">
    </form>
</div>
</body>
<script src="__STATIC__/js/zepto.min.js"></script>
<script src="__STATIC__/js/index.js"></script>
<script>
    doImage();
</script>
</html>