<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__STATIC__/css/index.css">
    <title>武理树洞</title>
</head>
<style>
    body {
        background-color: #f7f7f7;
    }
    .container {
        margin-top: 60px;
        margin-bottom: 60px;
    }
</style>
<body>
<div class="header">
    <p>审帖</p>
</div>
<div class="container">
    <div class="checkContent">
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, quam, rem! Magni, nulla, quasi! Accusamus alias ducimus earum, enim eum, eveniet fugit, libero nobis nulla porro quo repellat repudiandae saepe.
        </p>
    </div>
    <div class="checkBtn">
        <button class="submitBtn" id="yes">可以发表</button>
        <button class="submitBtn" id="no">不能发表</button>
    </div>
</div>
<div class="footer">
    <div class="box">
        <div class="button">
            <a href="/hole">
                <img src="__STATIC__/images/index.png"/>
                <p style="color: #bcc6c6">首页</p>
            </a>
        </div>
        <div class="button">
            <a href="/check">
                <img src="__STATIC__/images/survey_s.png"/>
                <p style="color: #705f5d">审帖</p>
            </a>
        </div>
        <div class="button">
            <a href="/user">
                <img src="__STATIC__/images/user.png"/>
                <p style="color: #bcc6c6">我的</p>
            </a>
        </div>
    </div>
</div>
</body>
</html>