<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__STATIC__/css/index.css">
    <title>武理树洞</title>
</head>
<style>
    body {
        background-color: #faf6ef;
    }
    .container {
        margin-top: 60px;
        margin-bottom: 60px;
        background-color: #faf6ee;
    }
</style>
<body>
<div class="header">
    <p>审帖</p>
</div>
<div class="container">
    <div class="checkContent">
        {if $content.content}
        <p>{$content.content}</p>
        {else}
        <p style="color:black;text-align:center">没有可以审阅的帖子啦~</p>
        {/if}
    </div>
    <div class="checkBtn">
        <button class="submitBtn" id="yes" onclick="doCheck({$content.id}, 1)">可以发表</button>
        <button class="submitBtn" id="no" onclick="doCheck({$content.id}, 2)">不能发表</button>
    </div>
</div>
<div class="footer">
    <div class="box">
        <div class="button">
            <a href="/hole">
                <img src="__STATIC__/images/index.png"/>
                <p style="color: #bcc6c6">首页</p>
            </a>
        </div>
        <div class="button">
            <a href="/check">
                <img src="__STATIC__/images/survey_s.png"/>
                <p style="color: #705f5d">审帖</p>
            </a>
        </div>
        <div class="button">
            <a href="/user">
                <img src="__STATIC__/images/user.png"/>
                <p style="color: #bcc6c6">我的</p>
            </a>
        </div>
    </div>
</div>
<script src="__STATIC__/js/zepto.min.js"></script>
<script src="__STATIC__/js/index.js"></script>
</body>
</html>