body {
    background: #705f5d;
    margin: 0;
}

a {
    text-decoration: none;
}

/*--------------- index ---------------*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    background-color: #705f5d;
    width: 100%;
    height: 40px;
    z-index: 1;
}

.header p {
    color: white;
    text-align: center;
    margin: 9px 0;
}

.content-list {
    overflow: hidden;
    margin: 40px 0 50px;
    background-color: #ece5d8;
}

.content-list .section {
    background: #fff;
    color: #503e2c;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.content-list .section .user-info {
    margin: 15px 15px;
    display: flex;
}

.content-list .section .user-info .middle {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content-list .section .user-info .middle p {
    display: block;
    color: #b2b2b2;
    font-size: 14px;
    margin: 3px 0;
}

.content-list .section .user-info .middle .nickname {
    color: #7d4a2b;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}

.content-list .section .user-info .middle .top {
    color: white;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    background: rgb(88, 75, 74);
    margin: 0 5px;
    padding: 5px 9px;
    box-sizing: border-box;
    vertical-align: middle;
}

.content-list .section .user-info img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
}

.content-list .section .user-info img.icon-more {
    width: 25px;
    height: 25px;
}

.content-list .section .content {
    display: block;
    margin: 10px 15px;
    font-size: 16px;
    line-height: 1.5;
}

.content-list .control-block {
    display: flex;
    border-top: 1px solid #dfd5cb;
    margin: 0 15px;
}

.content-list .control-block .button {
    display: flex;
    flex: 1;
    border: none;
    border-right: 1px solid #dfd5cb;
    border-radius: 0;
    background: transparent;
    padding: 10px 0;
    margin: 0;
    font-size: 12px;
    color: #9e8c7b;
    font-weight: 400;
    align-items: center;
    justify-content: center;
}

.content-list .control-block .button img {
    width: 20px;
    height: 20px;
}

.content-list .control-block .button p {
    margin: 0 5px;
}

.content-list .control-block .button:last-child {
    border-right: none;
}

.content-list .control-block .button::after {
    display: none;
}

#post-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    position: fixed;
    bottom: 90px;
    right: 30px;
    background: rgba(88, 75, 74, 0.9);
    text-align: center;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}

#post-btn img {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -13px;
    margin-top: -13px;
}

.footer {
    position: fixed;
    width: 100%;
    height: 50px;
    background: #f8f8fa;
    border-top: solid 1px #e4e4e4;
    margin: auto;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.footer .box{
    display: flex;
}

.footer .box .button {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: transparent;
    padding: 7px 0 3px;
    margin: 0;
    font-size: 12px;
    color: #bcc6c6;
    align-items: center;
    justify-content: center;
}

.footer .box .button img {
    width: 22px;
    height: 22px;
    display: inline-block;
    overflow: hidden;
}

.footer .box .button p {
    margin: 0;
}

/*------------------- create & comment ------------------*/
.comment {
    font-size: 16px;
    color: #503e2c;
    margin: 70px 0 50px;
    padding: 20px 15px;
    width: 100%;
    height: 200px;
    display: block;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: 1px solid #705f5d;
    border-radius: 8px;
}

.al-toggle-button{
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    width: 52px;
    height: 32px;
    background: #dfdfdf;
    border-radius: 16px;
    border: 1px solid #dfdfdf;
    outline: 0;
    box-sizing: border-box;
}

.al-toggle-button:checked{
    border-color: #705f5d;
    background-color: #705f5d;
}

.al-toggle-button:before, .al-toggle-button:after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    border-radius: 15px;
    transition: transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
}

.al-toggle-button:before{
    width: 50px;
    background-color: #fdfdfd;
}

.al-toggle-button:after{
    width: 30px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.al-toggle-button:checked:before{
    transform: scale(0);
    -webkit-transform: scale(0);
}

.al-toggle-button:checked:after{
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
}

#is-anoymous {
    margin:0 15px;
    display: flex;
    align-items: center;
}

#is-anoymous p {
    color: #666;
    font-size: 16px;
    flex:1;
    line-height: 35px;
}

#is-anoymous input {
    display: inline-block;
}

.submitBtn {
    display:block;
    width: 90%;
    padding: 0 14px;
    margin:15px auto;
    font-size:18px;
    text-align:center;
    line-height:2.55555556;
    border-radius:5px;
    background-color:#705f5d;
    color:#f6f6f6;
    border:1px solid #c6c6c6;
    outline: none;
}

/* -------------------- user -------------------*/

.container {
    background-color: #f6f6f6;
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin-top: 40px;
    padding: 0;
    box-sizing: border-box;
}

.user-info-box .user-info,
.more-btn {
    display: flex;
    background-color: #fff;
    min-height: 42px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.user-info-box {
    margin-bottom: 20px;
}

.user-info-box .user-info {
    flex-direction: column;
    margin: 15px 0 -1px;
    padding: 12px 15px 10px;
}

.info-hd {
    display: flex;
    align-items: center;
}

.bind-btn {
    color: #aaa;
    margin: 0 10px 0 0;
}

.user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.user-title {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}

.user-name {
    font-size: 16pt;
    line-height: 160%;
    letter-spacing: 1px;
    color: #717171;
    margin: 0;
}

.user-id {
    font-size: 11pt;
    margin: 0;
    color: #8b8b8b
}

.more-list {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.more-btn {
    align-items: center;
    font-size: 13pt;
    padding: 0 15px;
}

.issue-link, .about-link, .info-link {
    margin-bottom: 10px;
}

.btn-icon {
    width: 22px;
    height: 22px;
    margin-right: 16px;
}

.btn-text {
    flex: 1;
    margin: 0;
    color: #717172;
}

.btn-open {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 5px;
}

.btn-enter {
    width: 9px;
    height: 13px;
}

/* ----------- active ------------ */
.activity {
    display: block;
    color: #9e8c7b;
    font-weight: 400;
    font-size: 16px;
    margin: 15px;
}
