<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__STATIC__/css/index.css">
    <title>理工树洞</title>
</head>
<style>
    body {
        background-color: #ece5d8;
    }

    .content-list {
        margin-bottom: 0;
    }
</style>
<body>
<div class="header">
    <p>帖子详情</p>
</div>
<div class="content-list">
    <div class="section">
        <div class="user-info">
            <img src="__STATIC__/images/default/avatar.jpg"/>
            <div class="middle">
                <div>
                    <p class="nickname">nickname</p>
                </div>
                <p>2018.05.06</p>
            </div>
            <img src="__STATIC__/images/icon-more.png" class="icon-more"/>
        </div>
        <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores dolor doloribus eaque explicabo hic impedit, incidunt iste molestiae nulla odio provident quam quas quis quod sed unde veniam, voluptatem!</p>
        <div class="control-block">
            <div class="button">
                <img src="__STATIC__/images/icon-like.png"/>
                <p>100</p>
            </div>
            <div class="button">
                <img src="__STATIC__/images/icon-dislike.png"/>
                <p>10</p>
            </div>
            <div class="button">
                <img src="__STATIC__/images/icon-comment.png"/>
                <p>1</p>
            </div>
        </div>
    </div>
</div>
<div class="content-list">
    <div class="section">
        <div class="user-info">
            <img src="__STATIC__/images/default/avatar.jpg"/>
            <div class="middle">
                <div>
                    <p class="nickname">nickname</p>
                </div>
                <p>2018.05.06</p>
            </div>
        </div>
        <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores dolor doloribus eaque explicabo hic impedit, incidunt iste molestiae nulla odio provident quam quas quis quod sed unde veniam, voluptatem!</p>
        <div class="control-block">
            <div class="button">
                <img src="__STATIC__/images/icon-like.png"/>
                <p>100</p>
            </div>
            <div class="button">
                <img src="__STATIC__/images/icon-dislike.png"/>
                <p>10</p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="user-info">
            <img src="__STATIC__/images/default/avatar.jpg"/>
            <div class="middle">
                <div>
                    <p class="nickname">nickname</p>
                </div>
                <p>2018.05.06</p>
            </div>
        </div>
        <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores dolor doloribus eaque explicabo hic impedit, incidunt iste molestiae nulla odio provident quam quas quis quod sed unde veniam, voluptatem!</p>
        <div class="control-block">
            <div class="button">
                <img src="__STATIC__/images/icon-like.png"/>
                <p>100</p>
            </div>
            <div class="button">
                <img src="__STATIC__/images/icon-dislike.png"/>
                <p>10</p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="user-info">
            <img src="__STATIC__/images/default/avatar.jpg"/>
            <div class="middle">
                <div>
                    <p class="nickname">nickname</p>
                </div>
                <p>2018.05.06</p>
            </div>
        </div>
        <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores dolor doloribus eaque explicabo hic impedit, incidunt iste molestiae nulla odio provident quam quas quis quod sed unde veniam, voluptatem!</p>
        <div class="control-block">
            <div class="button">
                <img src="__STATIC__/images/icon-like.png"/>
                <p>100</p>
            </div>
            <div class="button">
                <img src="__STATIC__/images/icon-dislike.png"/>
                <p>10</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>